.support-section{
    background: url(../../../public/support-section-bg.png) no-repeat;
    background-size: contain;
}
.book-demo-section{
    background: url(../../../public/demo-ring.png) no-repeat;
    background-size: contain;
}
.support-carousel{
    width: 78.5%;
    left: 11%;
    top: 19px;
    border-radius: 0;
}
.support-carousel .carousel-wrapper{
    min-height: 320px;
}
.carousel-section:after {
    content: ".";
    visibility: hidden;
    clear: both;
  }