.stats-section{
    background: url(../../../public/stats-bg.png) no-repeat;
    background-size: cover;
    background-position: 0 -300px;
    padding-bottom:150px;
}
.cards-section{
    top:-150px;
}
.cards-section h3{
    padding-left:16px;
    border-left-width:2px;
}